<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--nameSpace =绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.shk.dao.UserMapper">
    <resultMap id="remap" type="user">
        <result property="password" column="pwd" />
    </resultMap>
    <resultMap id="usermap" type="user">
        <result property="password" column="pwd" />
    </resultMap>
<!--    查询语句-->
<!--    id对应方法名字-->
    <select id="getUserList" resultType="user" >
        select * from `mybatis`.`user`
    </select>
    <select id="getUserId" parameterType="int" resultMap="remap" >
        select * from mybatis.user where id=#{id}

    </select>
<!--    User对象中的属性可以直接取出来-->
    <insert id="insertUser" parameterType="com.shk.pojo.User">
        insert into `mybatis`.`user`(`id`,`name`,`pwd`) value (#{id},#{name},#{pwd})
    </insert>
    <update id="updatatUser" parameterType="com.shk.pojo.User">
        update mybatis.user set name=#{name} ,pwd=#{pwd} where id=#{id}
    </update>
    <select id="getUserByLimit" resultType="user" parameterType="map" resultMap="remap">
        select * from user limit #{startIndex},#{endIndex}
    </select>
</mapper>